$text-color-success: #00FF00;
$text-color-warning: #FF0000;

.info {
    font-size: 12px;
}

.success {
    @extend .info;
    color: $text-color-success;
}

.warning {
    @extend .info;
    color: $text-color-warning;
}